#header-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/office.jpg");
  height: 85vh;
  background-size: cover;
  background-position: center;

  .header-container {
    align-items: center;
    background-color: $black;
    display: flex;
    padding: $pad-1-5r $pad-2r;
    margin: 0 auto;
    max-width: 960px;
    justify-content: space-between;

    z-index: 10;

    .header-brand {
      color: $light-color;
      font-size: $size-2r;
      @include main-hover;
    }

    &-navbar {
      display: flex;
      align-items: center;
      height: 100%;

      li {
        margin: 5px 10px;

        a {
          color: $light-color;
          text-transform: uppercase;
          @include main-hover;
        }
      }
    }
    .fas.fa-bars {
      display: none;
    }
  }
  .title-container {
    color: $light-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    h2 {
      font-size: $size-3r;
      @extend %title-text-shadow;
    }
    h1 {
      font-size: $size-4r;
      margin-top: $mar-1r;
      @extend %title-text-shadow;
    }
  }
}
