#header {
  background-color: $black;

  width: 100%;

  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;

  nav {
    @include tablet {
      display: none;
    }
  }

  .header-container {
    height: 100%;
    max-width: 960px;
    margin: 0 auto;

    .header-content {
      margin: 0 auto;
      display: flex;

      padding: $pad-1r $pad-0-5;
      align-items: center;
      justify-content: space-between;

      @include smart-small {
        padding-right: $pad-2r;
        padding-left: $pad-2r;
        max-width: 100%;
      }
    }

    .header-brand {
      color: $light-color;
      font-size: $size-2r;
      @include main-hover;
    }

    &-navbar {
      display: flex;
      align-items: center;
      height: 100%;

      li {
        margin: 5px 10px;

        a {
          color: $light-color;
          text-transform: uppercase;
          @include main-hover;
        }
      }
    }
    .fas.fa-bars {
      color: $light-color;
      font-size: $size-1-5r;
      padding-top: $pad-0-5;
      display: none;

      @include tablet {
        display: block;
      }
    }
  }
}
