.jobs-container {
  background-color: $secondary-bg;
  padding: $pad-3r;

  h2 {
    @extend %section-title;

    @include smart-small {
      font-size: 2rem;
    }
    @include mobile {
      margin: 0;
      font-size: 2rem;
    }
  }
  .jobs-list {
    display: flex;
    padding: $pad-2r 0;

    @include smart-small {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    @include mobile {
      flex-direction: column;
    }

    .first-job {
      width: 30%;
      height: 415px;
      background-image: url("../img/job1.jpg");
      margin: 0 1.5%;
      position: relative;
      // position: relative;
      cursor: pointer;
      transition: 0.5s;
      @extend %center-bg;
      @extend %card-hover;

      @include smart-small {
        width: 100%;
        margin-bottom: 2rem;

        height: 200px;
      }
      @include mobile {
        width: 68%;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 2rem;
      }
    }
    .other-jobs-container {
      display: flex;
      flex-wrap: wrap;
      width: 68%;

      @include smart-small {
        width: 100%;
        flex-direction: column;
      }
      @include mobile {
        margin: 0 auto;
      }

      .job-card {
        width: 46%;
        height: 200px;
        cursor: pointer;
        position: relative;
        margin-right: 15px;
        margin-bottom: 15px;
        @extend %center-bg;
        @extend %card-hover;

        @include smart-small {
          width: 100%;
          height: 200px;
          margin: 0 auto;
          margin-bottom: 2rem;
        }

        @include mobile {
          width: 100%;
          height: 200px;
          margin: 0 auto;
          margin-bottom: 2rem;
        }
      }
      #job2 {
        background-image: url("../img/job2.jpg");
      }
      #job3 {
        background-image: url("../img/job3.jpg");
      }
      #job3 {
        background-image: url("../img/job3.jpg");
      }
      #job4 {
        background-image: url("../img/job4.jpg");
      }
      #job5 {
        background-image: url("../img/job5.jpg");
      }
    }
    .job-card-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: $pad-1-75;
      background-color: rgba(0, 0, 0, 0.6);
      border: 3px solid $primary-color;
    }

    .job-card-title {
      text-align: center;
      color: $light-color;
      font-size: $size-2r;
      transition: 0.5s;
      font-weight: bold;
    }
    #job-card-description {
      margin-top: $mar-5r;
      text-align: center;
      color: $light-color;
      padding: $pad-1r;
      font-size: $size-0-9r;

      @include smart-small {
        padding: 10px 0 0 0;
        margin: 0;
      }

      @include mobile {
        margin: 0;
      }
    }
    .job-card-description {
      text-align: center;
      color: $light-color;
      padding: $pad-1r;
      font-size: $size-0-9r;

      @include smart-small {
        padding: 0;
      }
      @include mobile {
        padding: 0;
      }
    }
  }
}
