@mixin reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }

  a {
    text-decoration: none;
    color: $light-color;
  }

  li {
    list-style: none;
  }
}

@mixin main-hover {
  transition: 0.3s;

  &:hover {
    color: $primary-color;
    border-color: $primary-color;
  }
}

// Mobile
@mixin tablet {
  @media (max-width: 765px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 560px) {
    @content;
  }
}
@mixin smart-small {
  @media (max-width: 410px) {
    @content;
  }
}

// Placeholder selectors
%title-text-shadow {
  text-shadow: 3px 2px $text-shadow-dark;
}

%section-title {
  font-size: $size-3r;
  margin-top: $mar-2r;
  text-align: center;
}

%center-bg {
  background-size: cover;
  background-position: center;
}
%card-hover {
  .job-card-cover,
  .job-card-title,
  .job-card-description {
    opacity: 0;
  }
  &:hover {
    .job-card-cover,
    .job-card-title,
    .job-card-description {
      opacity: 1;
    }
  }
}
// Buttons
.btn {
  padding: 0.6rem 1rem;
  border: 1px solid $light-color;
  border-radius: $rounded-5p;
  text-transform: uppercase;
  transition: 0.3s;
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: transparent;
  }

  &--second {
    background-color: $black;
    border-color: $light-color;

    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
  &--rounded {
    margin-top: $mar-3r;
    border-radius: $rounded-2r;
    padding: $pad-1r $size-1-5r;
  }
}
