.services-container {
  text-align: center;
  padding: $pad-2r;
  margin-bottom: $mar-2r;

  h2 {
    @extend %section-title;

    @include smart-small {
      font-size: 2rem;
    }
    @include tablet {
      font-size: 2rem;
    }
  }

  .services-card-container {
    display: flex;
    flex-wrap: wrap;
    padding: $size-2r;
    align-items: center;
    justify-content: center;

    @include tablet {
      flex-direction: column;
    }

    .services-card {
      width: 30%;
      margin: 1%;
      padding: $pad-2r;
      border: 1px solid $border-gray;
      transition: 0.3s;

      @include tablet {
        width: 100%;
        margin-bottom: $mar-1-5r;
      }

      i {
        color: $primary-color;
        font-size: $size-4r;
        display: block;
        margin-top: $mar-1r;
        margin-bottom: $mar-1-5r;
      }

      h3 {
        font-size: $size-1-5r;
        margin-bottom: $mar-1r;
      }
      p {
        max-width: 400px;
        margin: 0 auto;
      }
      &:hover {
        border: transparent;
        box-shadow: 0 1px 10px $border-gray;
        cursor: pointer;
      }
    }
  }
}
