$primary-color: #ff5200;
$light-color: #fff;
$dark-color: #181920;
$text-color: #8b8e94;
$black: #000;
$secondary-bg: #e5eaff;
$footer-bg: #1d1d1d;
$text-shadow-dark: #050505;
$border-gray: #ccc;

// Sizes

$size-1r: 1rem;
$size-1-5r: 1.5rem;
$size-2r: 2rem;
$size-3r: 3rem;
$size-4r: 4rem;
$size-5r: 5rem;
$size-6r: 6rem;
$size-7r: 7rem;
$size-8r: 8rem;
$size-9r: 9rem;
$size-10r: 10rem;

// Borders

$rounded-5p: 5px;
$rounded-2r: 2rem;

// Margens

$mar-1r: 1rem;
$mar-1-5r: 1.5rem;
$mar-2r: 2rem;
$mar-3r: 3rem;
$mar-4r: 4rem;
$mar-5r: 5rem;
$mar-6r: 6rem;
$mar-7r: 7rem;
$mar-8r: 8rem;
$mar-9r: 9rem;
$mar-10r: 10rem;

// Paddins

$pad-1r: 1rem;
$pad-1-5r: 1.5rem;
$pad-2r: 2rem;
$pad-3r: 3rem;
$pad-4r: 4rem;
$pad-5r: 5rem;
$pad-6r: 6rem;
$pad-7r: 7rem;
$pad-8r: 8rem;
$pad-9r: 9rem;
$pad-10r: 10rem;
